<?xml version="1.0"?>
<launch>
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />-->
    <node name="youBot_KeyboardRemoteControl" pkg="keyboard_remote_control" type="youBot_KeyboardRemoteControl" output="screen" launch-prefix="xterm -e" />
</launch>